#logo{
    height:120px;
    color:white;
    text-align:center;
    font-family:Menlo;
    font-weight:bold;
    font-size:70px;
    padding-top:20px;
    background:linear-gradient(45deg,rgb(27, 27, 28),rgba(56, 169, 239, 0.648)) ;
    } 
    #nav{
        display:flex;
        justify-content:flex-end;
        align-items:center;
        position:sticky;
        top:0;
        z-index:1000;
        height:50px;
        background-color:black;
        }
     #nav ul{
        display :flex;
        justify-content: space-between;
        }
    #nav ul li {
        display:inline-block;
        margin-right:27px;
        }
    #nav ul li a{
            color:white;
            text-decoration:none;
            font-size:18px;
            margin-right:40px;
        ;  
        }
    #nav ul li a:hover{
        color:rgba(63, 250, 253, 0.514);
        text-shadow:0 0 20px rgba(255,126,95,0.8), 0 0 30px rgba(255,126,95,0.6),0 0 40px rgba(235, 232, 231, 0.852);
    }


.background{
    background-image:url("../kerela.jpg");
    background-size:cover;
    background-position: center;
    display:flex;
    height:100vh;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
}


body{
    margin:0;
    padding:0;
    background-color: black;
}



#section{
    background-color:rgba(255, 255, 255, 0.388);
    margin-top:160px;
    margin-bottom:160px;
    width:100%;
    padding-left:50px;
    padding-right:50px;
    padding-top: 30px;
    position:relative;
}
h2{
    font-family:melona;
    color:black;
    font-weight: bold;
}
article{
    line-height:40px;
    font-size: 20px;
    text-align:justify;
}


button{
    height:45px;
    width:70px;
    border-radius:8px;
    position:absolute;
    right:90px;
    bottom:50px;
    background-color: rgb(200, 153, 182);  
}
a button{
    text-decoration:none;
    font-family:Menlo;
    font-size:18px;
    font-weight: normal;
    color:black;
}
button:hover{
    background-color:rgba(255, 255, 255, 0.452);
}
a button:hover{
    color:rgb(236, 79, 147);
}


#admin {
    height:150px;
    color:white;
    line-height: 40px;
    padding-left:35px;
    padding-bottom:2px; 
}
#admin ul {
    display:flex;
    justify-content:space-around;
    padding:0; 
}
#admin ul li {
    display:flex;
    align-items:center;
}
#admin ul li a{
    display:flex;
    align-items:center;
    height:30px;
    font-size:16px;
    text-decoration: none;
    font-family:'Menlo'; 
    color:white; 
}
#admin ul li a:hover{
    color:green;
    text-shadow: 0 0 10px rgb(45, 233, 208);

}
.social{
    height:26px;
    width:26px;
    margin-right:4px;
    background-size:cover;
    border-radius:50%;
    }
    #linkedin{
        background-image:url("../linkedin.png");
    }
    #github{
        background-image:url("../github.png");
    }
    #insta{
        background-image:url("../insta.jpeg");
    }
    #whatsapp{
        background-image:url("../whatsapp.jpeg");
    }
